<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266037578595-bh3uupdv7ukhb8tck1le4eipt3pi4aes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266037578595-bh3uupdv7ukhb8tck1le4eipt3pi4aes</string>
	<key>API_KEY</key>
	<string>AIzaSyAo5D3P0JZLdMJpwFWJYEbJcRA_u5xVxww</string>
	<key>GCM_SENDER_ID</key>
	<string>266037578595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymedialabs.TestFirebase</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-6b94b</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-6b94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266037578595:ios:55b0da1d5a0f3594</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebase-6b94b.firebaseio.com</string>
</dict>
</plist>